/* --------------------頁面標示顏色------------------------- */
ul.nav-list > li:first-child a{
    color: #E77114;
}

ul.nav-list > li:first-child a::after{
    width: 0%;
}
/*---------------banner大圖---------------------*/
.banner{
    background-image: url(../img02/banner02.png);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


@media (max-width: 575.98px){
    .banner{
      height: 250px;
      background-position: left center;
    }
    .h1_title{
        line-height: 250px;
        font-size: 2rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px){
    .banner{
        width: 100%;
        height: 300px;
    }
    .h1_title{
        line-height: 300px;
        font-size: 2rem;
    }
}


/*---------------關於果園---------------------*/
.about{
    /* border: 2px solid; */
    padding-top: 80px;
}

.about-text{
    /* border: 1px solid tomato; */
    display: flex;
    align-items: center;
    position: relative;
}
  
.about-text .ab-orchard{
    width: 40%;
    margin-right: 80px;
}

.about-text_btn{
    /* border: 2px solid red; */
    font-size: 1rem;
    width: 300px;
}

.about-text .ab-fram{
    display: block;
    width: 15%;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media all and (max-width: 575.98px){
    .about-text{
        display: block;
    }
    .about-text .ab-orchard{
        width: 100%;
        margin-right: 0;
    }
    .about-text .ab-fram{
        display: none;
    }
    .about-text_btn{
        font-size: 1rem;
        width: 100%;
        margin-top: 20px;
    }

}

@media all and (min-width: 576px) and (max-width: 767.98px){
    .about-text{
        display: block;
    }
    .about-text .ab-orchard{
        display: block;
        width: 70%;
        margin-right: 0;
        margin: 0 auto;
    }
    .about-text_btn{
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .about-text .ab-fram{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px){
    .about-text .ab-fram{
        display: none;
    }
}


/*---------------季節採果---------------------*/
.fru_season{
    padding-top: 80px;
}

.tab_css{
    /* border: 2px solid; */
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.tab_css input{
    display:none;
}

.tab_css label{
    margin: 0 20px 30px;
    width: 110px;
    height: 110px; 
    line-height: 110px;
    text-align: center;
    
    cursor: pointer; 
    border-radius: 3px;
    background: #FF0077;  
    color: #fff; 
    opacity: 0.5;
}

.tab_css .tab2-1{
    background-color: #72A603;
}

.tab_css .tab3-1{
    background-color: #F25C05;
}

.tab_css .tab4-1{
    background-color: #006EFF;
}

.tab_content{
    /* border: 2px solid; */
    order:1;
    display: none; 
    width:100%;
}

.content-out{
    /* border: 2px solid; */
    width: 100%;
    margin: 0 auto;
}
  
@media all and (max-width: 575.98px){
    .content-out{
      width: 100%;
    }
    .fru_intro .intro_con {
        font-size: .9rem;
    }

}

@media all and (min-width: 576px) and (max-width: 767.98px){
    .content-out{
      width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px){
    .content-out{
      width: 60%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px){
    .content-out{
      width: 60%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399.98px){
    .content-out{
      width: 60%;
    }
}

.tab_content p{
    font-size: 1rem;
    color: #005B3A;
}

.tab_content span{
    font-size: 1rem;
    color: #005B3A;
    line-height: 2;    
}

.tab_content span::before{
    padding-right: 5px;
    content: '\f185';
    font-family: fontawesome;
}

.tab_content .fru_intro img{
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 30px;
    display: block;
    width: 50%;
}

.tab_content .fru_intro{
    display: flex;
    align-items: center;
}

p.intro_con{
    font-size: 1rem;
    color: #333;
}

.tab_css input:checked + label, .tab_css label:hover{
    opacity: 1; 
    font-weight:bold;
}

.tab_css input:checked + label + .tab_content{
    display: initial;
}

/* --------------------果園特色------------------- */
.features{
    padding-top: 100px;
    margin-bottom: 100px;
}

.intro{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.intro img{
    margin-left: auto;
    width: 50%;
}

.intro1a{
    font-size: 1rem;
}

.intro1_1{
    color: #009A3E;
    font-weight: bold;
}

@media all and (max-width: 575.98px){
   .intro{
        display: block;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .intro img{
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;  
        order: -1; 
    }
    .intro1a{
        margin-top: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px){
    .intro{
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .intro img{
        width: 90%;
        margin: 0 auto;
        order: -1; 
    }
    .intro1a{
        margin-top: 20px;
    }
}



.common-line{
    background: url(../img02/line.png) no-repeat;
    width: 100%;
    height: 18px;
}

.intro2{
    font-size: 1rem;
    margin-top: 30px;
}

.intro2 img{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.intro2a{
    width: 80%;
    margin: 0 auto;
}

@media all and (max-width: 575.98px){
    .intro1_1, .intro1_2{
        font-size: 1rem;
    }
}


