@import url('reset.css');

/* -------------------body規範------------------------- */

img{
    max-width: 100%;
}

*, ::before, ::after {
    box-sizing: border-box;
}


body{
    font-family: 'Noto Sans TC', '微軟正黑體', Arial;
    background-color: #fff;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    position: relative;
}


.primary_bg{
    width: 1140px;
    margin: 0 auto;
} 

/*字體規範*/
.basic_font{
    font-size: 15px;
}

.h1_title{
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    line-height: 500px;
    text-align: center;   
}

.h2_title{
    font-size: 2rem;
    font-weight: bold;
    color: #005B3A;
    margin-bottom: 50px;
}

.h2_title::before{
    content: '';
    border: 3px solid;
    background-color: #005B3A;
    margin-right: 10px;
}

.h3_title{
    font-size: 2rem;
    color: #005B3A;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;                 
}


/*=============================漢堡標示===============================*/
.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
}
.hamburger:hover {
      opacity: 0.7; 
}
.hamburger.is-active:hover {
      opacity: 0.7; 
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after{
      background-color: #005B3A;
}
  

.hamburger-box {
    /* border: 1px solid; */
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative; 
}
  
.hamburger-inner{
    display: block;
    top: 50%;
    margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 30px;
      height: 2.5px;
      background-color: #005B3A;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.2s;
      transition-timing-function: ease; 
}
.hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; 
}
.hamburger-inner::before{
      top: -10px; 
}
.hamburger-inner::after{
      bottom: -10px; 
}

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
    top: 2px; 
}
.hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; 
}
.hamburger--slider .hamburger-inner::after {
      top: 20px; 
}
  
.hamburger--slider.is-active .hamburger-inner{
    transform: translate3d(0, 10px, 0) rotate(45deg); 
}
.hamburger--slider.is-active .hamburger-inner::before{
      transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
      opacity: 0; 
}
.hamburger--slider.is-active .hamburger-inner::after{
      transform: translate3d(0, -20px, 0) rotate(-90deg);
} 

.hamburger--slider{
    /* border: 2px solid; */
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* 行動版時，將按鈕顯示出來 */
@media screen and (max-width: 767.98px){
    .hamburger--slider{
      display: inline-block;
    }
}

/*===================================header==================================*/
header.header{
    font-family: 'Noto Sans TC', '微軟正黑體', Arial;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    position: sticky;
    top: 0;
    z-index: 55;
    background-color: #fff;
}

@media screen and (max-width: 767.98px){
    header.header{    
      display: block;
    }
    header.header img.logo{
        display: block;
    }
}

header.header img.logo{
    /* border: 1px solid yellow; */
    display: block;
    width: 230px;
    height: auto;
    padding: 10px;
}

nav.main_nav{
    /* border: 2px solid blue; */
    width: calc(100% - 230px);
    position: absolute;
    right: 0;
    padding-left: 100px;
}

@media screen and (min-width: 768px){
    nav.main_nav{
      display: block !important;
    }
}

@media screen and (max-width: 767.98px){
    nav.main_nav{    
      display: none;
      width: 100%;
      background-color: #fff;
      padding-left: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px){
    nav.main_nav{
        padding-left: 0;
    }
}
  
ul.nav-list{
    /* border: 1px solid red; */
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

@media screen and (max-width: 767.98px){
    ul.nav-list{
      display: block;
      text-align: center;
    }
}

ul.nav-list > li{
    /* border: 2px solid green; */
    flex-grow: 1;
    text-align: center;
    margin-left: 0px;
}

ul.nav-list > li > a{
    /* border: 1px solid; */
    text-decoration: none;
    color: #005B3A;
    position: relative;
}

ul.nav-list > li > a::after{
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: #E77114;
    position: absolute;
    bottom: 0;
    left: 0; 
    transition: all 0.4s ease;
}

ul.nav-list > li > a:hover:after{
	width:100%;
}

ul.nav-list > li:nth-last-child(-n+2){
    flex-grow: 0;
    width: 50px;
    margin-right: 20px;
}

ul.nav-list > li:nth-last-child(-n+2) > a::after{
    width: 0;
}

nav.main_nav ul.nav-list > li > a > .fa-solid{
    font-size: 1.6rem;
 }

/* 行動版時，調整列表樣式 */
@media screen and (max-width: 767.98px){
    ul.nav-list > li{
      display: block;
      text-align: center;
      padding: 20px 0;
      border-bottom: solid #005B3A 1px;
    }
    ul.nav-list > li:last-child{
        border-bottom: none;
    }

    ul.nav-list > li:nth-last-child(-n+2){
        width: 100%;
    }

    ul.nav-list > li > a{
        position: relative;/*給偽元素定位*/
    }    
}  

.login_block{
    display:none; 
    border: 2px solid blue; 
    height: 100%;
    position:absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    width: 100%; 
    background-color: rgb(51, 51, 51, .7); 
    z-index: 66;
}

.ad_block{
    display:none; 
    border: 2px solid red;  
    position: relative; 
    left: 50%; 
    transform: translateX(-50%);
}

.ad_block img{
    position: relative;
}


.login_block.-on{
    display: block;
}

.ad_block.-on{
    display: block;
}

