/* ---------------------------上方標示頁面--------------------------- */
.tag_row{
    /* border: 2px solid; */
    padding-top: 50px;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #005B3A;
}
.tag_row a{
    text-decoration: none;
    color: #005B3A;
}

.tag_row a:hover{
    color: #E77114;
}


.pro-del{
    /* border: 2px solid; */
    display: flex;
    margin-bottom: 100px;
}

/* ----------------------------商品圖片------------------------------- */
.flexslider{
    /* border: 2px solid red; */
    width: 50%;
    min-width: 200px;
    margin-right: 100px;
}

.flex-direction-nav a:before {
    font-size: 30px !important;
}

.flex-direction-nav a{
    top: 40% !important;
}



@media screen and (min-width: 992px) and (max-width: 1199.98px){
    .flexslider{
      width: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px){
    .flexslider{
      width: 90%;
      display: block;
      margin: 0 auto;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px){
    .flexslider{
      width: 100%;
      display: block;
    }
}

@media screen and (max-width: 575.98px){
    .flexslider{
      width: 100%;
      display: block;
    }
}

/* -----------------------------商品文字---------------------------------- */
.pro-del_info{
    /* border: 2px solid red; */
    width: calc(100% - 50%);
}

@media screen and (min-width: 768px) and (max-width: 991.98px){
    .pro-del_info{
      width: 90%;
      display: block;
      margin: 0 auto;
      padding-top: 40px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px){
    .pro-del_info{
      width: 100%;
      display: block;
    }
}

@media screen and (max-width: 575.98px){
    .pro-del_info{
      width: 100%;
      display: block;
    }
}

.mainpro_name{
    font-size: 2rem;
    font-weight: bold;
    color: #005B3A;
}

.pro_text{
    font-size: 1rem;
}

.pro_price{
    font-size: 1.2rem;
    font-weight: bold;
    color: #E77114;
}

.amount-list{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.amount{
    font-size: 1.2rem;
    margin-right: 10px;
}

/* skin 3 */
.num-in{
    display: flex;
    justify-content: center;
}
.skin-3 .num-in  > span{
    border: 1px solid #CCCCCC;
    border-radius: 2px;
	display: block;
	width: 20px;
	height: 30px;
	position: relative;
	cursor: pointer;
    margin: 0 5px;
}

.skin-3 .num-in span.minus:before {
	content: '';
	position: absolute;
	width: 10px;
	height: 2px;
	top: 50%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
	background-color: #333;
}

.skin-3 .num-in .in-num {
	
	width: 40px;
	height: 30px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	text-align: center;
	font-size: 15px;
}

.skin-3 .num-in span.plus:before {
	content: '';
	position: absolute;
	width: 10px;
	height: 2px;
	top: 50%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
	background-color: #333;
}

.skin-3 .num-in span.plus:after {
	content: '';
	position: absolute;
	height: 10px;
	width: 2px;
	left: 50%;
	top: 50%;
	margin-top: -5px;
	margin-left: -1px;
	background-color: #000;
}

.cart_submit{
    height: 40px;
    width: 100px;
    background-color: #005B3A;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    margin-left: 40px;
}

.cart_submit > a{
    font-size: 1rem;
    display: block;
    text-decoration: none;
    color: #fff;
    
}

.cart_submit a:hover{
    background-color: #E77114;
}

.pay_trans{
    font-size: .9rem;
}

/* ---RWD--- */
@media screen and (max-width: 575.98px){
    .pro-del{
      width: 100%;
      display: block;
    }
    .mainpro_name{
        font-size: 1.6rem;
    }
}
  
@media screen and (min-width: 576px) and (max-width: 767.98px){
    .pro-del{
      width: 100%;
      display: block;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 991.98px){
    .pro-del{
      width: 100%;
      display: block;
    }
}
  
@media screen and (min-width: 992px) and (max-width: 1199.98px){
    .pro-del{
      width: 100%;
      /* display: block; */
      margin: 0 auto;
    }
}

/* ---------------------推薦商品------------------- */
.fruit_box{
    border: 1px solid #e5e5e5;
    list-style: none;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    margin: 0 auto;
}

/* ----------商品圖片-------- */
.products_img img{
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all 1s;
}

.products_img img:hover{
    opacity: .5;
    transform:scale(1.1);
}

/* ---------商品文字-------- */
.price_cart-out{
    margin-bottom: 10px;
}

.fruit_box .pro_name{
    margin-bottom: 10px;
}

.fruit_box .pro_name a{
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.fruit_box .price1{
   font-size: 1rem;
}




/* ------------------------------自動輪播-------------------------------- */
.slider{
    /* border: 2px solid; */
    width: 80%;
    margin: 0;
    margin: 0 auto;
    margin-top: 50px;
}

.slick-slide {
    margin: 0px 10px;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

@media screen and (max-width: 575.98px){
    .products_img img{
        width: 60px;
    }
    .slider{
        /* border: 1px solid; */
        width: 90%;
    }
    .fruit_box .pro_name a, .fruit_box .price1{
        font-size: .9rem;
    }
}