/* ---------------------------上方標示頁面--------------------------- */
.tag_row{
    /* border: 2px solid; */
    padding-top: 100px;
}
.tag_row a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #005B3A;
}

.tag_row a:hover{
    color: #E77114;
}


/* ----------------------------商品圖片------------------------------- */
.pro-del{
    display: flex;
}

.pro-del_img{
    margin-right: 100px;
}

.img_top{
    margin-bottom: 10px;
}

.img_under{
    margin-left: 10px;
}

/* -----------------------------商品文字---------------------------------- */
.mainpro_name{
    font-size: 2rem;
    font-weight: bold;
    color: #005B3A;
}

.pro_text{
    font-size: 1rem;
}

.pro_price{
    font-size: 1.2rem;
    font-weight: bold;
    color: #E77114;
}

.amount-list{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.amount{
    font-size: 1.2rem;
    margin-right: 10px;
}

.form-control{
    font-size: 1.2rem;
    width: 100px;
    height: 30px;
    margin-right: 50px;
}

.cart_submit{
    height: 40px;
    width: 150px;
    background-color: #005B3A;
    text-align: center;
    line-height: 40px;
}

.cart_submit > a{
    font-size: 1.2rem;
    display: block;
    text-decoration: none;
    color: #fff;
}

.cart_submit a:hover{
    background-color: #E77114;
}

.pay_trans{
    font-size: 1rem;
}

/* ---------------------推薦商品------------------- */
.pro_recommend{
    padding-top: 100px;
    margin-bottom: 100px;
}

.slide_icon{
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.fa{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    font-size: 1.5em;
}

.fa a{
    text-decoration: none;
}

.fa:hover{
    background-color: #666;
}

.pro_out{
    display: flex;
    margin: 0 auto;
}

.pro_out .fruit_box{
    border: 1px solid #E5E5E5;
    list-style: none;
    width: 250px;
    flex-grow: 1;
    margin-right: 100px;
    text-align: center;
}

.pro_out .fruit_box img{
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.pro_out .fruit_box:last-child{
    margin-right: 0;
}

.price_cart-out{
    margin-bottom: 20px;
}

.fruit_box .pro_name{
    margin-bottom: 10px;
}

.fruit_box .pro_name a{
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.fruit_box .price1{
   font-size: 1.2rem;
}