@import url('reset.css');

*{
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body{
    font-family: '思源黑體', '微軟正黑體', Arial;
    background-color: #fff;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}


.primary_bg{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
} 

/*------------------上層選單--------------------*/

/*---------------banner大圖---------------------*/
.banner{
    background-image: url(../img01/banner1-1.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
}


/* ------------------關於我們------------------ */
.about{
    padding-top: 80px;
}


.about-text{
    display: flex;
    align-items: center;
}

.about-text img{
    display: block;
    height: 400px;
    margin-right: 100px;
}

.about-text_btn{
    font-size: 1.2rem;
    width: 410px;
}

.about-text_btn p{
    color: #333;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-text_btn a{
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #005B3A;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.about-text_btn a:hover{
    background-color: #E77114;
}


/* -----------------------當季採果行程------------------------ */
.fruit-project{
    padding-top: 80px;
} 

.fruit-project ul{
    width: 100%;
    height: 300px;
    display: flex;
}

.fruit-project li{
    background-size: cover;
    background-position: center center;
    transition: .5s;

    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.fruit-project .item1{
    background-image: url(../img01/grava_pro.jpg);
    flex-grow: 1;
}

.fruit-project .item2{
    background-image: url(../img01/orange_pro.jpeg);
    flex-grow: 2;
}

.fruit-project .item3{
    background-image: url(../img01/lemon_pro.png);
    flex-grow: 1;
}

.fruit-project li:hover{
    flex-grow: 5;
}  

/* -----------------------熱銷商品------------------------------ */
.product_list{
    padding-top: 80px;
}

.slide_icon{
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.fa{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    font-size: 1.5em;
}

.fa a{
    text-decoration: none;
}

.fa:hover{
    background-color: #666;
}

.product_list .pro_out{
    display: flex;
    margin: 0 auto;
}

.pro_out .fruit_box{
    border: 1px solid #E5E5E5;
    list-style: none;
    width: 260px;
    height: 400px;
    flex-grow: 1;
    margin-right: 100px;
    text-align: center;
}

.pro_out .fruit_box img{
    width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.pro_out .fruit_box:last-child{
    margin-right: 0;
}

/* .price_cart-out{} */

.fruit_box .pro_name{
    margin-bottom: 10px;
}

.fruit_box .pro_name a{
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.fruit_box .price_cart {
    display: inline-flex;
    align-items: center;
}

.fruit_box .price_cart .price1{
   font-size: 1.2rem;
   margin-right: 20px;
}

.fruit_box .price_cart img{
    /* border: 2px solid; */
    display: block;
    width: 50px;
}


/* --------------------------交通資訊------------------------------- */
.map{
    list-style: none;
    color: #005B3A;
    font-weight: bold;
    padding-top: 80px;
    margin-bottom: 80px;
}


.map_content{
    display: flex;
}

.map ul{
    font-size: 1.2rem;
    line-height: 3;
}

.fas, .far{
    margin-right: 15px;
}

.map iframe{
    display: block;
    width: 700px;
    margin-left: auto;
}


/* --------------------頁尾---------------------------- */
