

/*---------------banner大圖---------------------*/

#banner{ 
    background: url(../img01/banner1-1.png) no-repeat fixed 100% 100%; 
    background-size: cover; 
    color: #fff;
    width: 100%;  
    height: 400px; 
    margin: 0 auto;
    overflow: hidden;
}

#bannertext .h1_title{
    font-size: 3rem;
    line-height: 1.5;
}

#bannertext p{
    font-size: 1.2rem;
}

#bannertext{ 
    width: 40%; 
    position: fixed; 
    top: 30%; 
    left: 50%;
    transform: translateX(-50%); 
    border: 5px solid #fff; 
    padding: 20px; 
    text-align: center;
}

@media (max-width: 575.98px){
    #banner{
      width: 100%;
      height: 250px;
      background-size: auto;
    }
    #bannertext .h1_title{
        font-size: 2rem;
    }

    #bannertext{
        width: 70%;
        top: 20%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px){
    #banner{
        width: 100%;
    }
    #bannertext .h1_title{
        font-size: 2rem;
    }
    
}


/* ------------------關於我們------------------ */
.about{
    /* border: 1px solid; */
    padding-top: 80px;
}


.about-text{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    position: relative;
}

.about-text .orchard{
    display: block;
    width: 40%;
    margin-right: 100px;
}

.about-text_btn{
    /* border: 1px solid blue; */
    width: 320px;
}

.about-text_btn span{
    color: #333;
    display: block;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.about-text_btn > a{
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #005B3A;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;

    transition: all .5s;
    border-radius: 3px;
}

.about-text_btn a:after {
    padding-left: 10px;
    content: '\f0da';
    font-family: fontawesome;
}

.about-text_btn a:hover{
    background-color: #E77114;
    transform: translate3d(0px,3px,3px);
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.about-text .tree{
    display: block;
    width: 15%;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 575.98px){
    .about-text{
        display: block;
      }
      .about-text .orchard{
          width: 70%;
          margin: 0 auto;
      }
      .about-text_btn{
          width: 70%;
          margin: 0 auto;
          margin-top: 20px;
      }
      .about-text_btn span{
          font-size: .9rem;
      }
      .about-text_btn > a{
          font-size: 0.9rem;
          width: 100px;
          height: 30px;
          line-height: 30px;
      }
}
  
@media screen and (min-width: 576px) and (max-width: 767.98px){
    .about-text{
      display: block;
    }
    .about-text .orchard{
        width: 70%;
        margin: 0 auto;
    }
    .about-text_btn{
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.98px){
    .about-text .tree{
      display: none;
    }
}


/* -----------------------當季採果行程------------------------ */
.fruit-project{
    padding-top: 80px;
    margin-bottom: 80px;
} 

.fruit-project ul{
    width: 100%;
    height: 300px;
    display: flex;
}

.fruit-project li{
    background-size: cover;
    background-position: center center;
    transition: .6s;

    
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.fruit-project span{
    background-size: cover;
    background-position: center center;
    transition: .6s;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    font-size: 1.2rem;
}

.fruit-project .item1{
    background-image: url(../img01/grava_pro.jpg);
    flex-grow: 1;
}

.fruit-project .item2{
    background-image: url(../img01/orange_pro.jpeg);
    flex-grow: 2;
}

.fruit-project .item3{
    background-image: url(../img01/lemon_pro.png);
    flex-grow: 1;
}

.fruit-project li:hover{
    flex-grow: 5;
}   

@media screen and (max-width: 575.98px){
    .fruit-project > ul{
        width: 100%;
        height: auto;
        display: block;
      }
      .fruit-project .item1{
          background-image: url(../img01/grava_pro.jpg);
          height: 200px;
      }
      
      .fruit-project .item2{
          background-image: url(../img01/orange_pro.jpeg);
          height: 200px;
      }
      
      .fruit-project .item3{
          background-image: url(../img01/lemon_pro.png);
          height: 200px;
      }
      .fruit-project li{
          margin-top: 10px;
      }
      .fruit-project span{
          font-size: 1rem;
      }
}
  
@media screen and (min-width: 576px) and (max-width: 767.98px){
    .fruit-project > ul{
      width: 100%;
    }
    .fruit-project .item1{
        background-image: url(../img01/grava_pro.jpg);
        height: 200px;
    }
    
    .fruit-project .item2{
        background-image: url(../img01/orange_pro.jpeg);
        height: 200px;
    }
    
    .fruit-project .item3{
        background-image: url(../img01/lemon_pro.png);
        height: 200px;
    }
    .fruit-project li{
        margin-right: 10px;
    }
}
  

/* -----------------------熱銷商品------------------------------ */
.fruit_box{
    border: 1px solid #e5e5e5;
    list-style: none;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    margin: 0 auto;
}

/* ----------商品圖片-------- */
.products_img img{
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all 1s;
}

.products_img img:hover{
    opacity: .5;
    transform:scale(1.1);
}

/* ---------商品文字-------- */
.price_cart-out{
    margin-bottom: 10px;
}

.fruit_box .pro_name{
    margin-bottom: 10px;
}

.fruit_box .pro_name a{
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.fruit_box .price1{
   font-size: 1rem;
}




/* ------------------------------自動輪播-------------------------------- */
.slider{
    /* border: 2px solid; */
    width: 80%;
    margin: 0;
    margin: 0 auto;
    margin-top: 50px;
}

.slick-slide {
    margin: 0px 10px;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

@media screen and (max-width: 575.98px){
    .products_img img{
        width: 60px;
    }
    .slider{
        /* border: 1px solid; */
        width: 90%;
    }
    .fruit_box .pro_name a, .fruit_box .price1{
        font-size: .9rem;
    }
}




/* --------------------------交通資訊------------------------------- */
.map{
    list-style: none;
    color: #005B3A;
    padding-top: 50px;
    margin-bottom: 80px;
}


.map_content{
    display: flex;
}

.map ul > li > span{
    font-size: 1.2rem;
    line-height: 3;
}

.fas, .far{
    font-size: 1rem;
    text-align: center;
    margin-right: 10px;
}

.map iframe{
    display: block;
    width: 50%;
    height: 300px;
    margin-left: auto;
}

@media screen and (max-width: 575.98px){
    .map_content{
        display: flex;
        flex-direction: column;
    }
    .map iframe{
        width: 100%;
        order: -1;
        margin-bottom: 20px;
    }
    .map ul > li > span{
        font-size: 1rem;
    }
}
  
@media screen and (min-width: 576px) and (max-width: 767.98px){
    .map_content{
      display: flex;
      flex-direction: column;
    }
    .map iframe{
        width: 100%;
        order: -1;
    }
    .map ul > li > span{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px){
    .map_content{
        display: flex;
        flex-direction: column;
      }
      .map iframe{
          width: 100%;
          height: 300px;
          order: -1;

      }
}
