body{
    font-family: 'Noto Sans TC', '微軟正黑體';
    font-size: 15px;
    line-height: 1.5;
}

/*---------------banner大圖---------------------*/
.banner{
    background-image: url(../img01/banner1-1.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
}

/* ----------------------動畫------------------------ */
.about{
    position: relative;
}

.go_shineMuscat{
    position: absolute;
	right: 0px;
	top: 400px;
	z-index: 1;
    animation: fuwafuwa 3s infinite linear alternate;
}

.go_shineMuscat img{
    width: 30%;
}

.go_shineMuscat a:hover img {
  opacity: 1;
}

@keyframes fuwafuwa{

    0%{
        transform: translate(0, 0) rotate(-5deg); opacity: 1;    
    }

    50%{
        transform: translate(0, -5px) rotate(0deg); opacity: .7;
    }

    100%{
        transform: translate(0, 0) rotate(5deg); opacity: .5;
    }
}


/* ------------------關於我們------------------ */
.about{
    padding-top: 100px;
}


.about-text{
    display: flex;
    align-items: center;
    position: relative;
}

.about-text .orchard img{
    display: block;
    height: 400px;
    margin-right: 100px;
}

.about-text_btn{
    font-size: 1.2rem;
    width: 400px;
}

.about-text_btn p{
    color: #333;
    margin-bottom: 30px;
}

.about-text_btn > a{
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #005B3A;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.about-text_btn a:hover{
    background-color: #E77114;
}

.about-text .tree img{
    display: block;
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
}



/* -----------------------當季採果行程------------------------ */
.fruit-project{
    padding-top: 100px;
} 

.fruit-project ul{
    width: 100%;
    height: 300px;
    display: flex;
}

.fruit-project li{
    background-size: cover;
    background-position: center center;
    transition: .5s;

    font-size: 1.2rem;
    font-family: Noto Sans TC;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.fruit-project .item1{
    background-image: url(../img01/grava_pro.jpg);
    flex-grow: 1;
}

.fruit-project .item2{
    background-image: url(../img01/orange_pro.jpeg);
    flex-grow: 2;
}

.fruit-project .item3{
    background-image: url(../img01/lemon_pro.png);
    flex-grow: 1;
}

.fruit-project li:hover{
    flex-grow: 5;
}  

/* -----------------------熱銷商品------------------------------ */
.product_list{
    padding-top: 100px;
}

.slide_icon{
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.fa{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    font-size: 1.5em;
}

.fa a{
    text-decoration: none;
}

.fa:hover{
    background-color: #666;
}

.product_list .pro_out{
    display: flex;
    margin: 0 auto;
}

.pro_out .fruit_box{
    border: 1px solid #E5E5E5;
    list-style: none;
    width: 250px;
    flex-grow: 1;
    margin-right: 100px;
    text-align: center;
}

.pro_out .fruit_box img{
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.pro_out .fruit_box:last-child{
    margin-right: 0;
}

.price_cart-out{
    margin-bottom: 20px;
}

.fruit_box .pro_name{
    margin-bottom: 10px;
}

.fruit_box .pro_name a{
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.fruit_box .price1{
   font-size: 1.2rem;
}


/* --------------------------交通資訊------------------------------- */
.map{
    list-style: none;
    color: #005B3A;
    padding-top: 100px;
    margin-bottom: 100px;
}


.map_content{
    display: flex;
}

.map ul{
    font-size: 1.2rem;
    line-height: 3;
}

.fas, .far{
    margin-right: 15px;
}

.map iframe{
    display: block;
    width: 700px;
    margin-left: auto;
}


/* --------------------頁尾---------------------------- */
