#tab-demo{
    font-family: 'Noto Sans TC';
    width:40%; 
    margin: 0 auto;
    margin-top: 300px;
}

#tab-demo > ul{ 
    display:block; 
    margin:0;
    list-style:none;
}

.tab-title{
    list-style:none;
    text-align: center;
    font-size: 2rem;
}

#tab-demo > ul > li{ 
    display:inline-block; 
    vertical-align:top;
    font-family:'微軟正黑體'; 
    margin: 20px;
    /* border:1px solid #BCBCBC; */
    list-style:none; 
    box-sizing:border-box;
}

#tab-demo >  ul > li a{ 
    color:#005B3A; 
    text-decoration:none;
}

#tab-demo > ul > li.active{ 
    border-bottom:3px solid #005B3A;           
    background:#fff;
}

#tab-demo > .tab-inner{ 
    clear:both; 
    color:#000; 
    border:1px #BCBCBC solid;
}

.tab-inner{
    text-align: center;
    padding:20px; 
}

.tab-inner li{
    list-style: none;
    margin-bottom: 20px;
}

/* ----------會員登入------------ */
.email{
    width: 90%;
	height: 40px;
	border: 1px solid #ccc;
	outline: 0;
    font-size: 1rem;
}

.password{
    width: 90%;
	height: 40px;
	border: 1px solid #ccc;
	outline: 0;
    font-size: 1rem;
}

.send{
    font-size: 1rem;
    color: #fff;
    background-color: #005B3A;
    width: 30%;
    height: 30px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.tab-inner a{
    font-size: .8rem;
    text-decoration: none;
    color: #005B3A;
}

/* -------------------會員註冊------------ */
.user-name{
    width: 90%;
	height: 40px;
    font-size: 1rem;
	border: 1px solid #ccc;
	outline: 0;
}

.remind{
    font-size: 0.8em;
    text-decoration: none;
    color: #333;
}

.password-double{
    width: 90%;
	height: 40px;
	border: 1px solid #ccc;
	outline: 0;
}